<div id="page-wrapper">
    <div class="row" style="padding-top:50px;">
        <div class="col-lg-4">
            <span  class="text-blue"style="font-family: 'Fredericka the Great'; font-size: 35px;margin-top:50px;" >POOL STATISTICS</span>
        </div>
        <div class="col-lg-8" style="margin-bottom: 20px;" >
            <span  style="font-family: Lobster; margin-top:50px; border-bottom: none;">Welcome to high performance ethereum mining pool. The servers are located at india for low latency of the users of India. This pool provides the same level of mining efficiency and service as other popular pools. The pool pays out using the traditional & fair PPLNS mode. Payouts are processed twice in a day and it would be gradually increased.                                       
            </span>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <div class="col-lg-3 col-md-6"> 
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner ">
                    <h3><span class="text-white">
                            {{format-hashrate stats.model.hashrate}}
                        </span> </h3>
                    <p> POOL HASHRATE   </p>

                </div>
                <div class="icon"> <i class="fa fa-dashboard"></i> </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View All Workers</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-lg-3 col-md-6"> 
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner ">
                    <h3><span class="text-white">
                            {{format-number stats.model.minersTotal}}
                        </span> </h3>
                    <p> ACTIVE MINERS   </p>

                </div>
                <div class="icon"> <i class="fa fa-users"></i> </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View All Active Miners</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6"> 
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner ">
                    <h3><span class="text-white">
                            {{format-number model.maturedTotal }}
                        </span> </h3>
                    <p> {{#if stats.model.stats.lastBlockFound}}
                        <i class="fa fa-clock-o"></i> Last Block : <span>{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</span>
                        {{/if}}    </p>

                </div>
                <div class="icon"> <i class="fa fa-cubes"></i> </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Pool Blocks</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6"> 
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner ">
                    <h3><span class="text-white">
                            11,60,84,273
                        </span> </h3>
                    <p> 13 PAYMENTS </p>

                </div>
                <div class="icon"> <i class="fa fa-money"></i> </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View All Payments</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">

        <div class="col-lg-4">  
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-info-circle fa-fw"></i> Information Panel
                </div>
                <!-- /.panel-heading -->

                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <i class="fa fa-trophy fa-fw"></i> Rewards System
                        <span class="pull-right text-muted small"><span class="label label-success"><em>PPLNS</em></span>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Pool Fee
                        <span class="pull-right text-muted small"><em>{{config.PoolFee}}</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-unlock-alt fa-fw"></i> Network Difficulty
                        <span class="pull-right text-muted small"><em>{{with-metric-prefix stats.difficulty}}</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-dashboard fa-fw"></i> Network Hashrate
                        <span class="pull-right text-muted small"><em>{{format-hashrate stats.hashrate}}</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-sort-amount-asc fa-fw"></i> Blockchain Height
                        <span class="pull-right text-muted small"><em>{{format-number stats.height}}</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-clock-o fa-fw"></i> Current Round Variance
                        <span class="pull-right text-muted small"><em>{{format-number stats.roundVariance style='percent'}}</em>
                        </span>
                    </a>                       
                    <a href="#" class="list-group-item">
                        <i class="fa fa-ticket fa-fw"></i> Payment Threshold
                        <span class="pull-right text-muted small"><em>{{format-balance config.PayoutThreshold}}</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Payout
                        <span class="pull-right text-muted small"><em>twice a day</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-inr fa-fw"></i> ETH-INR 
                        <span class="pull-right text-muted small text-blue">≅ <em>{{ format-number  stats.model.exchangedata.price_inr style='currency' currency='INR'  }}</em>
                        </span><br/><span class="text-muted small text-blue"><em>{{format-date-locale stats.model.exchangedata.last_updated }}</em></span>
                    </a>
                </div>
                <!-- /.list-group -->                    

                <!-- /.panel-body -->
            </div>

            <div class="chat-panel panel panel-success">
                <div class="panel-heading">
                    <i class="fa fa-twitter fa-fw"></i> UPDATES
                    <div class="btn-group pull-right">

                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    {{#twitter-feed}}                    
                    <a class="twitter-timeline" href="https://twitter.com/miningpoolindia">Tweets by miningpoolindia</a> 
                    {{/twitter-feed}}
                </div>
                <!-- /.panel-body -->

                <!-- /.panel-footer -->
            </div>
            <!-- /.panel .chat-panel -->
        </div>
        <!-- /.col-lg-4 -->

        <div class="col-lg-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <i class="fa fa-user fa-fw"></i> MINER STATUS                    
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        {{input value=cachedLogin class="form-control" placeholder="Enter Your Ethereum Address"}}
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" {{action 'lookup' cachedLogin}}>
                                    <span style="display: inline;"><i class="fa fa-search"></i> SEARCH</span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-8 -->

        <div class="col-lg-8">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <i class="fa fa-question-circle-o fa-fw"></i> SETUP GUIDE                    
                </div>
                <div class="panel-body">

                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a data-target="#general" data-toggle="tab">GENERAL</a></li>
                        <li><a data-target="#claymore" data-toggle="tab">CLAYMORE</a></li>
                        <li><a data-target="#qtminter" data-toggle="tab">QT MINTER</a></li>
                        <li><a data-target="#genoils" data-toggle="tab">GENOILS MINER</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <div class="col-lg-12">
                                <div class="panel">                                  
                                    <div class="panel-body">
                                     GENERAL
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="claymore">
                            <div class="col-lg-12">
                                <div class="panel">                                  
                                    <div class="panel-body">
                                     CLAYMORE
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="messages">
                            <div class="col-lg-12">
                                <div class="panel">                                  
                                    <div class="panel-body">
                                     QT MINTER
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="settings">
                            <div class="col-lg-12">
                                <div class="panel">                                  
                                    <div class="panel-body">
                                     GENOIL
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.col-lg-8 -->

    </div>
    <!-- /.row -->
</div>